
.login-wrapper{
    max-width: 450px;
    margin: 40px auto;
    text-align: center;
}

.login-wrapper h1{
    font-size: 26px;
    font-weight: 800;
}

.login-wrapper a{
    text-decoration: none;
}

.login-box{
    margin-top: 25px;
    padding: 25px;
    border-radius: 20px;
    box-shadow: 0 10px 40px rgba(0,0,0,.08);
}

.google-btn{
    border: 2px solid #000;
    padding: 12px;
    border-radius: 15px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
    margin-bottom: 20px;
}

.divider{
    margin: 15px 0;
    color: gray;
}

.input-group{
    text-align:left;
    margin-bottom: 15px;
}

.input-group label{
    font-size: 14px;
}

.input-group input{
    width: 100%;
    padding: 12px;
    border:none;
    border-bottom: 2px solid #ddd;
    outline:none;
}

.input-group input:focus{
    border-color:#000;
}

.login-btn{
    width: 100%;
    background:black;
    color:white;
    padding: 12px;
    border-radius:15px;
    border:none;
    font-weight:800;
    margin-top: 15px;
    cursor:pointer;
}

.small-text{
    font-size: 14px;
    margin-top: 10px;
}

